@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows/arrows.eot');
	src:url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows/arrows.woff') format('woff'),
		url('../fonts/arrows/arrows.ttf') format('truetype'),
		url('../fonts/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* music system */

#volume-icon {
    border: 2px solid mediumaquamarine;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: flex;
    height: 40px;
    width: 76px;
    margin-right: 4px;
}

#volume-container.muted #volume-icon {
    border-color: grey;
    background-color: #eee;
    background-color: #eee;
}

#volume-icon img {
    margin: 6px 0 0 6px;
}

#volume-container.muted #volume-icon:after {
    content: "OFF";
    color: grey;
}
#volume-container:not(.muted) #volume-icon:after {
    content: "ON";
    color: mediumaquamarine;
    margin-left: 4px;
}

#volume-icon:after {
    font-family: arial;
    font-weight: 600;
    margin-top: 8px;
}

#volume-container.muted > #volume-icon > img:first-of-type,
#volume-container:not(.muted) > #volume-icon > img:last-of-type {
    display: none;
}

#volume-container {
    align-items: center;
    background: transparent;
    display: flex;
    padding: 0 8px 0 0;
    position: fixed;
    user-select: none;
    z-index: 9;
}

#volume-container input {
    cursor: pointer;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: rgb(204, 255, 252);
    background-color: rgb(204, 255, 252);
    background: linear-gradient(270deg, rgb(213, 255, 253) 0%, rgb(175,238,238) 100%);
    border: 1px solid teal;
    height: 8px;
    border-radius: 5px;
}
.slider:disabled {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: rgb(170, 170, 170);
    border-color: rgb(116, 116, 116);
}

#volume-container:not(.muted) .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #46aaa0;
    background: white;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#volume-container:not(.muted) .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #46aaa0;
    background: white;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

/* page styling */

#languagebtn {
	display: inline-block;
	margin: 0.2em;
	padding: 0.45em 1em;
	background: #b872b8;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 2px;
	border-width: 0;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.codrops-demos button {
	display: inline-block;
	margin: 0.2em;
	padding: 0.45em 1em;
	background: #b872b8;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 2px;
	border-width: 0;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

.codrops-demos button:hover,
.codrops-demos button.current-page {
	opacity: 0.6;
}

#side-scroller {
	display: flex;
	flex-direction: row;
	max-height: 100vh;
	width: 500vw;
	transition: transform 0.3s ease;
}

.page {
	padding: 0 40px;
	user-select: none;
	width: 100vw;
}

.youtube-link {
	background-color: white;
	border-radius: 16px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 16px;
	text-align: center;
	margin: auto;
	max-width: 400px;
}

.codrops-demos button:active,
.youtube-link:active {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	transform: translateY(2px);
}
.youtube-link .bb-custom-icon-arrow-right {
	align-items: center;
	display: flex;
    margin-left: 8px;
}
.youtube-link .bb-custom-icon-arrow-right:before {
	color: white;
    background-color: crimson;
    display: inline-block;
    width: 30px;
    margin-right: 12px;
    border-radius: 6px;
}

#page-left,
#page-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: calc(50% - 48px);
	height: 110px;
}

#page-left {
	transform: translateX(-50%);
}
#page-right {
	right:0;
	transform: translateX(50%);
}

.bb-page img,
.bb-item img {
	width: 100%;
}

.bb-bookblock {
	width: 100%;
}

.bb-custom-wrapper {
	position: relative;
	margin: 0 auto 40px;
	max-width: 69em;
	text-align: center;
}

.bb-custom-wrapper .bb-bookblock {
	box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
}

.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper nav {
	position: absolute;
	z-index: 1000;
	text-align: center;
}

.bb-custom-wrapper nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 2px;
	background: #72b890;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper nav a:active {
	transform: translateY(2px);
}

.bb-custom-wrapper nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	line-height: 30px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

